body{
    background-image: radial-gradient(#ff8a00,#daa392);
    background-image: radial-gradient(circle at top right, #ff8a00, rgb(219, 171, 163), #eec0d1);
}

div.poster{
    background-image:url('IMG_1133.jpg');
    background-repeat:no-repeat;
    background-size:1100px;
    background-position:center center;

}

div.text{
    font-size:60px;
    font-family:chalkduster;
    text-align:left;
    color:rgb(202, 81, 81);
    transition:0.5s;
}

.container{
    display:flex;
    flex-wrap:wrap;
}

.text-red{
    color:red
}

.text-blue{
    color:blue
}

.text-yellow{
    color:yellow
}

.w1-2{
    width:50%
}


/* rule 1 */

div.text.one {
    font-size:40px;
}

div.text.two{
    font-size:80px;
}

div.text.three{
   font-size:120px;
}

/* rule 2 */

div.text.a{
    background-image:url('scan.jpeg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
}

div.text.b{
    background-image:url('scan.jpeg');
    background-repeat:no-repeat;
    background-size:300px;
    background-position:top right;
    color:transparent;
   
}

div.text.c{
    background-image:url('scan.jpeg');
    background-repeat:no-repeat;
    background-size:300px;
    background-position:top left;
}

div.small{
    font-size: 20px;
    color:red;
    text-align:center;

}

div.center{
    text-align:center;
}

/* rule 3 */

div.text.x{
    text-align:right;
}

div.text.y{
    text-align:left;
}

div.text.z{
    text-align:center;
}