body{
    background-image: linear-gradient(to bottom right,#345655,#ececd1);
}

div.container{
    display: flex;
    flex-wrap: wrap;
}

div.logo{
    font-size: 60px;
}

div.w1-4{
    width:25%;
}

div.w2-4{
    width:50%;
}

div.w3-4{
    width:75%;
}

div.w4-4{
    width:100%;
}


div.text{
    font-size:60px;
    font-family:trattatello;
    text-align:center;
    color:#ebe1bd;
    -webkit-text-stroke:3px #345655;
    transition:0.5s;
}

/* rule 1 */

div.text.one {
    font-size:30px;
}

div.text.two{
    font-size:60px;
}

div.text.three{
    font-size:160px;
}

/* rule 2 */

div.text.a{
    color:#ecf7ea;
}

div.text.b{
    color:#ebe1bd;
}

div.text.c{
    color:#345655;
}

div.small{
    font-size: 20px;
    color:#ebe1bd;
    text-align:center;

}

div.center{
    text-align:center;
}

/* rule 3 */

div.text.x{
    text-align:right;
}

div.text.y{
    text-align:left;
}

div.text.z{
    text-align:center;
}